.nav li .submenu {
    visibility: hidden;
    z-index: 9;
}

.nav li .submenu button {
    font-weight: 400 !important;
}

.nav li:hover .submenu {
    opacity: 1 !important;
    visibility: inherit;
    top: 120%;
}

.nav li .submenu button:hover {
    color: #ff5252;
}

.nav li .submenu li .submenu {
    top: 0 !important;
    left: 120% !important;
    opacity: 0 !important;
}

.nav li .submenu li:hover .submenu {
    left: 100% !important;
    opacity: 1 !important;
}

.nav li .submenu li .submenu button {
    color: rgba(0, 0, 0, 0.8) !important;
}

.nav li .submenu li .submenu button:hover {
    color: #ff5252 !important;
}

